services:
  webserver-service:
    image: nginx
    container_name: webserver-service
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
#      - ./config/dhparam.pem:/etc/nginx/dhparam.pem
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      - ./config/conf.d:/etc/nginx/conf.d
    networks:
      - cicd-network
  redis-service:
    image: redis:latest
    container_name: redis-service
    ports:
      - "6379:6379"
    networks:
      - cicd-network
  database-service:
    image: mysql:8.0.25
    container_name: database-service
    restart: unless-stopped
    tty: true
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./database:/var/lib/mysql
    networks:
      - cicd-network
  api-service:
    image: jaylordibe/laravel-php
    container_name: api-service
    restart: unless-stopped
    tty: true
    ports:
      - "8001:80"
    volumes:
      - ./public/api:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - redis-service
      - database-service
    networks:
      - cicd-network
  webapp-service:
    image: jaylordibe/nginx-srv
    container_name: webapp-service
    restart: unless-stopped
    tty: true
    ports:
      - "8002:80"
    volumes:
      - ./public/webapp:/var/www/html
    working_dir: /var/www/html
    networks:
      - cicd-network
  website-service:
    image: jaylordibe/laravel-php
    container_name: website-service
    restart: unless-stopped
    tty: true
    ports:
      - "8003:80"
    volumes:
      - ./public/website:/var/www/html
    working_dir: /var/www/html
    networks:
      - cicd-network
networks:
  cicd-network:
    driver: bridge
